!.gitignore

/3rdparty/*
!/3rdparty/download.sh
!/3rdparty/README.md
!/3rdparty/*.cmake
!/3rdparty/CMakeLists.txt

/2ndparty/*
!/2ndparty/download.sh
!/2ndparty/update.sh

### KDevelop ###
*.kdev4
.kdev4/
